
nav {
    background-color: #140000; 
    padding: 20px; 
    color: #fff; 
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Harry Potter', sans-serif; 
}

nav a {
    color: #d3a625; 
    text-decoration: none; 
    margin: 0 15px; 
    transition: color 0.3s ease; 
    font-weight: bold; 
}

nav a:hover {
    color: #fff; 
}

body {
    margin: 0; 
    padding: 0; 
    background-color: #380001; 
}

.container {
    box-sizing: border-box; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    color: #fff; 
    font-family: 'Harry Potter', sans-serif; 
    text-align: justify; 
    line-height: 1.6; 
}


.example-text {
    margin-top: 20px; 
    margin-bottom: 0; 
}
.TicketContainer {
    box-sizing: border-box; 
    max-width: 1600px; 
    margin: 0 auto; 
    padding: 20px; 
    color: #fff; 
    font-family: 'Harry Potter', sans-serif; 
    text-align: justify; 
    line-height: 1.6; 
}
.container {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-family: 'Harry Potter', sans-serif;
    text-align: justify;
    line-height: 1.6;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); 
    grid-gap: 20px;
}

.character-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #502020;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: auto; 
}

.character-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character-card img {
    display: block;
    margin: 0 auto;
    max-height: 250px;
  }
  

.container input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #140000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination button:hover {
    background-color: #380001;
}
